@import "tailwindcss";

.font-montserrat{
  font-family: 'Montserrat', montserrat;
}

.font-inter {
    font-family: 'Inter', inter;
}

.font-roboto {
    font-family: 'Roboto', roboto;
}

textarea:focus, input:focus{
    outline: none;
}